.about-main{
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #F6F7F8;
}
.about-contact-content {
    margin-right: 60px;
    padding: 70px 0;
    background-color: #fff
}
.clickAboutUs{
    border-left: solid 5px;
    color: red;
    background-color: #F6F7F8;
}
.unClickAboutUs{
    border-left: solid 5px;
    color: red;
    background-color: #F6F7F8;
}
.paddingLeft{
    padding-left: 5px;
}
.about-contact-content>ul>li{
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.about-contact-content>ul>li:hover{
    color: red;
    background-color: #F6F7F8;
}
.about-contact-intro{
    background-color: white;
}
.about-contact-intro>ul{
    overflow: hidden;
    margin: 0 auto;
    padding: 50px;
    color: #2b3d51;
}
.about-us-title{
    margin: 20px 0;
    border-left: 5px solid #fc2a48;
    font-size: 16px;
    font-weight: 500;
    text-indent: 7px;
    color: #2b3d51;
}
.about-us-content{
    display: block;
    text-align: justify;
    margin: 36px 0 36px 12px;
    text-indent: 28px;
}
.contact-us-company{
    font-weight: 700;
    font-size: 16px;
    text-indent: 0;
    margin: 20px 0;
    color: #2b3d51;
}
.contact-us-detail{
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
    min-width: 48%;
    line-height: 14px;
}
.contact-us-img{
    overflow: hidden;
    padding: 10px 0;
    line-height: 14px;
}

