
/*职位推荐*/
.home-introduce {
    padding: 74px 0;
    background-color: white;
}
.home-banner > a,
.home-banner > ol{
    display: none;
}
.introduce-tag{
    margin-top: 45px;
}
.introduce-tag>span{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #2d3e50;
}
.introduce-tag>p{
    margin-top: 20px;
    font-size: 14px;
    color: #536a82;
}
.introduce-tag-data{
    border-left: 1px solid #E5E9EB;
}
.introduce-tag-data>div{
    margin-top: 30px;
}
.introduce-tag-data>div:first-child{
    margin-top: 0;
}
.introduce-tag-data-num{
    color: #fc2b47;
    font-weight: bold;
    font-size: 16px;
}

/*最新职位*/
.home-new-job{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6f7f8;
}
.home-new-job-more{
    text-align: right;
    padding: 10px 30px;
    color: #536a82;
    cursor: pointer;
}
.home-new-job-title{
    text-align: center;
    font-size: 16px;
    color: #536a82;
}
.home-new-job-title>span{
    margin-bottom: 0;
    color: #2d3e50;
    font-size: 20px;
    font-weight: bold;
}
.home-new-job-title>div{
    margin: 4px auto;
    height: 2px;
    width: 30px;
    background-color: #fc2b47;
}
.home-new-job-title>p{
    padding: 0;
}
/*最新职位轮播*/
.home-jobCarousel-item{
    padding: 8%;
    background-color: white;

}
.home-jobCarousel-itemImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    border-bottom: 2px solid #f6f7f8;
    cursor: pointer;
}
.home-jobCarousel-itemImg:hover{
    color: #00ccff;
}
.home-jobCarousel-itemText{
    padding: 10px 0;
    cursor: pointer;
}
.home-jobCarousel-itemText:hover{
    color: red;
}
/*轮播图改造*/
.home-jobCarousel-setting>ol{
    display: none;
}

.home-jobCarousel-setting>a{
    width: 0;
    background-image: none;
}

.home-jobCarousel-setting>a>.glyphicon-chevron-right {
    margin-right: -60px;
    color: red;
    background-color: white;
}
.home-jobCarousel-setting>a>.glyphicon-chevron-left{
    margin-left: -60px ;
    color: red;
    background-color: white;
}

/*服务流程*/
.home-service{
    text-align: center;
    padding: 80px 0;
}
.home-service-item{
    margin: 1em 0;
    overflow: hidden;
    box-shadow: 0 0 1px 0;
    border-radius: 5px;
}
.home-service-item>p{
    margin: 10px 0;
}
.home-service-icon{
    color: red;
}
@media screen and (min-width: 992px){
    .home-service-icon{
        margin-top: 73px;
    }
}
/*伙伴之言*/

/*轮播上一张，下一章样式*/
.banner-pre, .banner-next {
    position: absolute;
    display: inline-block;
    top: 47%;
    z-index: 5;
    margin-top: -10px;
}
.home-comment{
    padding: 80px 0;
}

.home-friend {
    text-align: center;
    padding: 30px 17px 0 17px;
    margin: 2px 0;
    min-height: 338px;
    border-radius: 3px;
    border: 1px solid #F0F0F0;
    color: #999999;
    background-color: rgb(255, 255, 255);
}
.home-friend>img{
    display: inline-block;
}
.home-friend:hover {
    box-shadow: 1px 0 20px #DAE0E3;
}

.home-friend-name {
    color: #294154;
    font-size: 16px;
    font-weight: bold;

}
.home-friend-introduce {
    margin: 10px 0 20px 0;
    color: #666666;
    font-size: 14px;
}

@media screen and (max-width: 768px){
    .friend-carousel-hide{
        display: none;
    }
}
